form {
    display: flex;
    justify-items: space-between;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1rem;
}

.results {
    height: 100%;
}

.input-field {
    width: 100%;
}

.no-wrap {
    white-space: nowrap;
}

.gw-name,
.name,
.address,
.caller-id {
    cursor: pointer;
}

.gw-name:hover,
.name:hover,
.address:hover,
.caller-id:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn-floating  {
    position: fixed;
    bottom: 50px;
    right: 50px;
}