{
    "api_jsonrpc.php": {
        "result": [
            {
                "host": "",
                "interfaces": [
                    {
                        "ip": ""
                    }
                ]
            }
        ]
    }
}
